body{
    background-color: #232323;
}

#canvas-container{
    margin: auto;
    display: inline-block;
    width: 100%;
}

canvas{
    display: block;
    background-color: grey;
    margin: 20px auto;
}
