body{
    background-color: #555555;
    margin : 0;
    font-family: 'Turret Road', cursive;
    font-weight: 700;
}

button{
    border-radius: 10px;
    font-family: 'Turret Road', cursive;
    font-weight: 700;
    font-size: 1.1rem;
}

option{
    border:none;
    font-family: 'Turret Road', cursive;
    font-weight: 700;
}

select{
    border:none;
    font-family: 'Turret Road', cursive;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}

select:hover{
    background-color: grey;
}

canvas{
    border: 3px solid black;
    display: block;
    background-color: grey;
    margin: 30px auto;
}

#canvas-container{
    margin: auto;
    display: inline-block;
    width: 100%;
}

#size-option{
    display: inline-block;
}

#maze-settings{
    height: 100px;
    background-color : white; /* highlighted  for visibility*/
    text-align: center;
    text-transform: uppercase;
}

#generateBtn{
    margin-left: 5%;
    height: 100%;
    width: 200px;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    background-color: grey;
}

#generateBtn:hover{
    background-color: teal;
}

#immediately{
    margin-left: 5%;
}


